
    <div class="container-fluid">
        <div class="row">
            <div class="col-md">
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">https://steamcommunity.com/id/</div>
                    </div>
                    <input type="text" class="form-control" id="urlTextBox">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="submitBtn">Go!</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <h3 id="fadeInText" class="hide-element">You should play...</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <h3 id="errorText" class="hide-element"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center">
                <a id="gameLink" href="" target="_blank">
                    <img id="gameImage" src="" class="hide-element" />
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md text-center border-secondary m-3">
                <button class="btn btn-outline-secondary hide-element" type="button" id="againBtn">Again</button>
            </div>
        </div>
    </div>